*{
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
}



body{
    
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Roboto', sans-serif;

}



html{
  

    background-image: url(../Images/Background.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:  center;
    background-attachment: fixed;
 

}




.Character-Image{
    border-radius: 50%;
    padding: 1px;
    border: 8px solid transparent;
    background: linear-gradient(60deg, #f1f6f9 10%, #F1F6F9 100%);

}



header{
    display: flex; 
    width: 100%;
    padding: 15px;
    height:8vh;
    background: rgba(0,0,0,0.8);
    align-items: center;
}



.logo-container,
.navigation-links
{

    display: flex;

}


.logo-container{
    flex: 1; 
}


nav{
    flex: 2;
}

.navigation-links{
    justify-content: space-around;
    list-style: none;
}


.navigation-link{
    color: #ffffff ;
    text-decoration: none;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: #d6e0f0;
}


a:hover{
    color: #393b44;
}

.Character-Nametag{

    position: absolute;
    top:100px;
    right: 185px ;
    width:  50%;

    
}


.Weapon-Nametag{

    position: absolute;
    top:100px;
    right: 125px ;
    width:  50%;
 
}


.Background-Grey-Box{

    top:100%;
    left:50%;
    width:100%;
    height:3000px;
    padding: 40px 40px;
    background: rgba(0,0,0,0.);
   
}
    

.Klee-Character-Details{

    top:100%;
    left:50%;
    width:400px;
    height:1200px;
    padding: 40px 40px;
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
    position: absolute; 
    width: 40%;
    top:150px;
    left: 50px;
    text-align: left;
    line-height: 2;
    margin: 50px auto 50px auto;
    
    
   
}
    

.Keqing-Character-Details{

    top:100%;
    left:50%;
    width:400px;
    height:1200px;
    padding: 40px 40px;
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
    position: absolute;
    top:1400px;
    left: 50px ;
    width: 40%; 
    text-align: left;
    line-height: 2;
    margin: 50px auto 50px auto;
   
}
    

.Jean-Character-Details{

    top:100%;
    left:50%;
    width:400px;
    height:1200px;
    padding: 40px 40px;
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
    position: absolute; 
    top: 150px;
    right: 50px;
    width: 40%;
    text-align: left;
    line-height: 2;
    margin: 50px auto 50px auto;
}
    

.Ningguang-Character-Details{

    top:100%;
    left:50%;
    width:400px;
    height:1200px;
    padding: 40px 40px;
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
    position: absolute;
    top:1400px;
    right: 50px ;
    width: 40%;
    text-align: left;
    line-height: 2;
    margin: 50px auto 50px auto;

   
}

.Klee-Text,
.Keqing-Text,
.Jean-Text,
.Ningguang-Text
{
    font-size: 18px ;
    color: #ebebeb ;

}

.Skyward-Atlas-Details{

    top:100%;
    left:50%;
    width:400px;
    height:1200px;
    padding: 40px 40px;
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
    position: absolute; 
    width: 40%;
    top:150px;
    left: 50px;
    text-align: left;
    line-height: 2;
    margin: 50px auto 50px auto;
    
    
   
}
    

.Skyward-Blade-Details{

    top:100%;
    left:50%;
    width:400px;
    height:1200px;
    padding: 40px 40px;
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
    position: absolute;
    top:1400px;
    left: 50px ;
    width: 40%; 
    text-align: left;
    line-height: 2;
    margin: 50px auto 50px auto;
   
}
    

.Aquila-Fovonia-Details{

    top:100%;
    left:50%;
    width:400px;
    height:1200px;
    padding: 40px 40px;
    border-radius: 10px;
    background: rgba(0,0,0,0.4);
    position: absolute; 
    top: 150px;
    right: 50px;
    width: 40%;
    text-align: left;
    line-height: 2;
    margin: 50px auto 50px auto;
}
    


.Aquila-Fovonia-Image,
.Skyward-Blade-Image,
.Skyward-Atlas-Image
{
    Width: 300px;
    height: 200px;

}


.Aquila-Fovonia-Text,
.Skyward-Blade-Text,
.Skyward-Atlas-Text{
    font-size: 18px ;
    color: #ebebeb;
}


form{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width:100%;
  padding:0 20px;
 

}

.Contact-form{
  max-width:800px;
  margin: 0 auto;
  background: rgba(0,0,0,0.4);
  padding:30px;
  border-radius: 5px;
  display:flex;
  box-shadow: 0 0 10px;

}

.Fields{
    display: flex;
    flex-direction:column;
    margin-right: 4%;
}

.Fields,
.Message{
    width: 48%;
}

.Fields .Input,
.Message textarea{
    margin:10px 0;
    background:transparent;
    border:  none;
    outline: none;
    border-bottom:2px solid #ebebeb;
    padding:10px;
    color: #ebebeb;
    
}

.Message textarea{
    height: 300px;
}

::-webkit-input-placeholder{
    color: #ebebeb;
}

::-ms-input-placeholder{
    color: #ebebeb;
}

.Button{
    background: #39b7dd;
    text-align: center;
    padding:15px;
    border-radius: 5px;
    cursor:pointer;
}
